# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

#jekyll
docs/_site
docs/.jekyll-cache
docs/.sass-cache

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

